.booking-route__wrapper {
    display: flex;
    flex-direction: column;
}

.booking-route__content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.booking-confirm__container {
  display: flex;
  flex-direction: column;
}

.booking-config__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.config__item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.additional-services__block {
  display: flex;
  gap: 0.5rem;
}

.additional-comment__textarea {
}
.additional-service__item {
  border: 1px #ccc solid;
  border-radius: 0.5rem;
  padding: 10px;
  cursor: pointer;
}
.additional-service__item:hover {
  background-color: aliceblue;
}
.booking-route-detail__block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
}

.selected-location__container {
}

.location-detail-info__block {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.location-detail__image { }

.text__input {
  max-width: 240px;
  max-height: 160px;
}

.additional-service__selected {
  background-color: #ccc;
}